[submodule "gd_spritestudio/SsConverter3"]
	path = gd_spritestudio/SsConverter3
	url = https://github.com/SpriteStudio/SsConverter3.git
[submodule "gd_spritestudio/flatbuffers"]
	path = gd_spritestudio/flatbuffers
	url = https://github.com/google/flatbuffers.git
