[submodule "ss_player/SpriteStudio-SDK"]
	path = ss_player/SpriteStudio-SDK
	url = https://github.com/cri-middleware/SpriteStudio-SDK.git
[submodule "ss_player/flatbuffers"]
	path = ss_player/flatbuffers
	url = https://github.com/google/flatbuffers.git
