[submodule "ss_player/SpriteStudio7-SDK"]
	path = ss_player/SpriteStudio7-SDK
	url = https://github.com/SpriteStudio/SpriteStudio7-SDK.git
[submodule "ss_player/flatbuffers"]
	path = ss_player/flatbuffers
	url = https://github.com/google/flatbuffers.git
